<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <miyabara_buffer>
            <general>
                <api_key/>
            </general>
            <channels>
                <data/>
            </channels>
        </miyabara_buffer>
    </default>
</config>
