<?xml version="1.0"?>
<!--
/**
 * Miyabara_Buffer
 *
 * @vendor    Miyabara
 * @package   Buffer
 *
 * @copyright © 2026 Diego M. Miyabara. All rights reserved.
 * @author    Diego M. Miyabara <diego.miyabara@hotmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Miyabara_Buffer::post_index"
             title="Buffer Posts"
             module="Miyabara_Buffer"
             sortOrder="999"
             parent="Magento_Backend::marketing"
             action="buffer/post/index"
             resource="Miyabara_Buffer::post_index"/>
    </menu>
</config>
