<?xml version="1.0"?>
<!--
/**
 * Miyabara_Buffer
 *
 * @vendor    Miyabara
 * @package   Buffer
 *
 * @copyright © 2026 Diego M. Miyabara. All rights reserved.
 * @author    Diego M. Miyabara <diego.miyabara@hotmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="miyabara" translate="label" sortOrder="999">
            <label>DM3D</label>
        </tab>
        <section id="miyabara_buffer" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <tab>miyabara</tab>
            <label>Buffer API</label>
            <resource>Miyabara_Buffer::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="api_key" translate="label comment" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <comment>Get your API key at publish.buffer.com → Settings → API</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
